<section class="jumbotron text-center dark-blue">
  <div class="container">
    <h1 class="jumbotron-heading text-light">Accounting made easy</h1>
    <p class="lead text-muted">
        Suitable for traders, retailers, wholesalers, manufacturing businesses and institutions.
        It works on all devices without difficulty.
    </p>
    <p>
      <a class="my-2 mx-2">
          <!-- <i class="fab fa-app-store fa-2x"></i> -->
        <img class="img" width="150" height="54" src="./assets/app-store.png" />
      </a>
      <a class="my-2 mx-2">
          <!-- <i class="fab fa-google-play fa-2x"></i> -->
        <img class="logo" width="150" height="54" src="./assets/google-play.png" />
      </a>
      <!-- <a [routerLink]="['./../profile']" class="btn btn-outline-warning btn-lg text-light my-2 mx-2">
        Get started
      </a> -->
      
    </p>
  </div>
  <br>
</section>

<div class="container">
  <div class="row flex-items-xs-middle">
    <div class="col">
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Profit & Loss A/C</h2>
            <p class="lead">
              It summarizes the revenues, costs and expenses incurred during a specific period of time,
            </p>
          </div>
          <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
              <!-- <img class="img img-fluid" height="200" src="./../../../../../../assets/profit-and-loss.png" /> -->
          </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Balance Sheet</h2>
            <p class="lead">All assets, liabilities, and capital of your business will be presented</p>
          </div>
          <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Quickly prepare an effective financial statement with this SitGhana Accounting Software. You can prepare all your accounts with little customization. Select the package that best suit your needs.</p>
    </div>
          
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free Package</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">GHS 0</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 user only</li>
              <li>Unlimited P & L A/C</li>
              <li>Unlimited Balance Sheet</li>
              <li>1 month support only</li>
              <li>30 days free trial</li>
            </ul>
          </div>
          <div class="card-footer">
            <button type="button" [routerLink]="['./../profile']" class="btn btn-lg btn-block btn-primary">Subscribe</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro Package</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">GHS 150 <small class="text-muted">/ year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5 users maximum</li>
              <li>Unlimited P & L A/C</li>
              <li>Unlimited Balance Shee</li>
              <li>1 year support only</li>
              <li>Budget Statement</li>
              <li>Income Statement</li>
              <li>24/7 available</li>
            </ul>
          </div>
          <div class="card-footer">
            <button type="button" [routerLink]="['./../profile']" class="btn btn-lg btn-block btn-primary">Subscribe</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise Package</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">GHS 220 <small class="text-muted">/ year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Users Unlimited</li>
              <li>Unlimited P & L A/C</li>
              <li>Unlimited Balance Shee</li>
              <li>10 years support</li>
              <li>Unlimited Budget Statements</li>
              <li>Unlimited Income Statements</li>
              <li>24/7 available</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
          </div>
          <div class="card-footer">
            <button type="button" [routerLink]="['./../profile']" class="btn btn-lg btn-block btn-primary">Subscribe</button>
          </div>
        </div>
      </div>
    </div> 
    <div class="col">
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Cash Flow Statement</h2>
            <p class="lead">This shows how changes in balance sheet accounts and income affect cash.</p>
          </div>
          <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="dark-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Income Statement</h2>
            <p class="lead">It reports a company's financial performance over a specific accounting period. </p>
          </div>
          <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
