<div class="container">
    <div class="row flex-items-xs-middle">
        <div class="col-sm-12 col-md-4"></div>
        <div class="col-sm-12 col-md-4">
            
            <h4 class="text-center font-weight-normal mt-4">Login to get started</h4>
            <hr>
            <!-- <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
            <button (click)="socialSignIn('google')">Signin in with Google</button>
            <firebase-ui></firebase-ui>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
            -->
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email" required>
                    <div class="invalid-feedback" *ngIf="email.invalid && email.dirty">
                        Your email doesn't look quite right...
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="password" required>
                    <div class="invalid-feedback" *ngIf="password.invalid && password.touched">
                        Password must be between 6 and 24 chars and have at least one number 
                    </div>
                </div>

                <!-- <div *ngIf="loginForm.valid" >Form looks good! Let's do this.</div> -->

                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success btn-block">Login</button>
            </form>
            <br>
            <a class="btn btn-link btn-block" [routerLink]="['./../signup']">Create an account</a>
            <hr>
            <button class="btn btn-primary btn-block" (click)="authService.googleLogin()">
                <i class="fab fa-google"></i> Log in with Google
            </button>
        </div>
        <div class="col-sm-12 col-md-4"></div>
    </div>
</div>
