<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="py-5">
        <i class="fab fa-angrycreative fa-2x"></i>
        <h2>Terms of Service</h2>
        <p class="lead">Our services are fully warranted against any defects.</p>
        <h5>
          You must read the below list carefully:
        </h5>
        <ul>
          <li>All subscription prices and items are subject to change at any time.</li>
          <li>We make every reasonable effort to give the most accurate information.</li>
        </ul> 
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
  