<!-- Footer -->
<!--  -->
<footer class="my-5 bg-light pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2018 SitGhana. All Rights Reserved.</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a routerLink="./../contact">Contact</a></li>
    <li class="list-inline-item"><a routerLink="/../policy">Privacy</a></li>
    <li class="list-inline-item"><a routerLink="/../term-of-service">Terms</a></li>
    <li class="list-inline-item mr-3">
      <a target="blank" href="https://web.facebook.com/surakaObliya"> <!-- https://web.facebook.com/access.weboffice/ -->
        <i class="fab fa-facebook-f"></i> Contact developer on facebook
      </a>
    </li>
  </ul>
</footer>