<section class="text-white px-3 py-3 pt-md-5 pb-md-4 mx-auto" style="background-color: #aba7e6;"> <!-- mb-5 -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-8 mb-md-0">
        <form>
          
          <div class="input-group">
            <input type="text" class="col-6 form-control" placeholder="Search..." required>
      
            <div class="col-6 input-group-append">
              <!-- <select class="col-8 custom-select" formControlName="region" aria-placeholder="location">
                <option selected value="all">All Regions</option>
                <option *ngFor="let r of regions" value="{{ r }}">{{ r | titlecase }} Region</option>
              </select> -->
              <button type="submit" class="btn btn-block btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
            </div>
          </div>
          
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>