<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="py-5">
        <i class="fab fa-angrycreative fa-2x"></i>
        <h2>Privacy Policy</h2>
        <p class="lead">Our services are fully warranted against any defects.</p>
        <h5>
          We do not sell or use your information for any other things except the following:
        </h5>
        <ul>
          <li>To indentify you in our platform</li>
          <li>To communicate to you</li>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
  