.bg-blue {
    background-color: #4169E1;
}

.bg-light-blue {
    background-color: #6495ED;
}

.border-left {
    border-left: 2px solid #4169E1;
}

.products {

}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }